{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@store": "./src/redux",
                    "@screen": "./src/screens",
                    "@navigation": "./src/navigation",
                    "@modules" : "./src/modules"
                }
            }
        ]
    ]
}